*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: 'Crafty Girls', cursive;
    font-weight: bold;
}
.pizarra{
    width: 80%;
    margin-top: 100px;
    height: 300px;
    padding: 5px;
    border: 10px solid #804000;
    border-radius: 10px;
    background-color: green;
    box-shadow: 100px;
    font-family: 'Crafty Girls', cursive;
    color: white;
    text-align: center;
    
}
