*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: 'Crafty Girls', cursive;
    font-weight: bold;
}
.pizarra{
    width: 100%;
    margin-top: 10a0px;
    padding: 5px;
    border: 10px solid brown;
    border-radius: 10px;
    background-color: green;
    box-shadow: 8px 8px;
    font-family: 'Crafty Girls', cursive;
    color: white; 
}